{{- $primaryDeviceId := output "powershell" "-NoProfile" "-ExecutionPolicy" "Bypass" "-File" (joinPath .chezmoi.sourceDir ".chezmoitemplates/get-primary-monitor-device-id.ps1") | trim -}}
{
  "$schema": "https://raw.githubusercontent.com/LGUG2Z/komorebi/v0.1.39/schema.json",
  "app_specific_configuration_path": "$Env:USERPROFILE/applications.json",
  "display_index_preferences": {
    "0": "{{ $primaryDeviceId }}"
  },
  "window_hiding_behaviour": "Cloak",
  "cross_monitor_move_behaviour": "Insert",
  "default_workspace_padding": 0,
  "default_container_padding": 0,
  "border": true,
  "border_width": 0,
  "border_offset": -1,
  "animation": {
    "enabled": true,
    "duration": 150,
    "fps": 60,
    "style": "EaseOutSine"
  },
  "theme": {
    "palette": "Base16",
    "name": "Ashes",
    "unfocused_border": "Base03",
    "bar_accent": "Base0D"
  },
  "bar_configurations": ["./komorebi.0.bar.json", "./komorebi.1.bar.json"],
  "monitors": [
    {
      "workspaces": [
        { "name": "1", "layout": "BSP" },
        { "name": "2", "layout": "BSP" },
        { "name": "3", "layout": "BSP" },
        { "name": "4", "layout": "BSP" },
        { "name": "5", "layout": "BSP" },
        { "name": "6", "layout": "BSP" },
        { "name": "7", "layout": "BSP" },
        { "name": "8", "layout": "BSP" },
        { "name": "9", "layout": "BSP" },
        { "name": "0", "layout": "BSP" }
      ]
    },
    {
      "workspaces": [
        { "name": "F1", "layout": "BSP" },
        { "name": "F2", "layout": "BSP" },
        { "name": "F3", "layout": "BSP" },
        { "name": "F4", "layout": "BSP" },
        { "name": "F5", "layout": "BSP" },
        { "name": "F6", "layout": "BSP" },
        { "name": "F7", "layout": "BSP" },
        { "name": "F8", "layout": "BSP" },
        { "name": "F9", "layout": "BSP" },
        { "name": "F10", "layout": "BSP" },
        { "name": "F11", "layout": "BSP" },
        { "name": "F12", "layout": "BSP" }
      ]
    }
  ]
}
